{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<div class="profile-container">
    <h1>User Profile</h1>
    <div class="profile-info">
        <div class="profile-picture">
            <img src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'images/avatar.jpg' %}{% endif %}" alt="Profile Picture">
        </div>
        <div class="user-details">
            <h2>{{ user.username }}</h2>
            <p><span>Email:</span> {{ user.email }}</p>
            <p><span>Joined:</span> {{ user.date_joined|date:"F j, Y" }}</p>
            <p><span>Daily Water Goal:</span> {{ dailygoal }} L</p>
        </div>
        <br>
    </div>
    <div class="form-container">
        <form action="" method="post">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="edit-btn">Update Profile</button>
        </form>
    </div>
</div>

<style>
</style>
{% endblock content %}