@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f4f9;
  --primary-color: #00a4cc;
  --secondary-color: #76c7c0;
  --text-black-color: #1e1e1e;
  --vivid-color: #ffcb77;
}
/* Base styles */
.quiz-body {
  font-family: "Montserrat", sans-serif;
  background-color: #212529;
}

.quiz-content,
.quiz.start-screen {
  z-index: 1000;
}

/* Container layout */
.quiz-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Quiz section */
.quiz-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: var(--bg-color);
  position: relative;
}

.upper-svg {
  position: absolute;
  top: -280px;
  right: 0;
  left: -60%;
  width: 80%;
  display: flex;
  justify-self: center;
}
.lower-svg {
  position: absolute;
  bottom: -150px;
  right: 0;
  left: 50vw;
  width: 40%;
  display: flex;
  justify-self: center;
}

.quiz-content {
  width: 100%;
  max-width: 500px;
}

/* Start screen */
.quiz-start-screen {
  text-align: center;
}

.quiz-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-black-color);
  margin-bottom: 1.5rem;
}

.water-highlight {
  background: var(--text-black-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quiz-description {
  font-size: 1.25rem;
  color: var(--text-black-color);
  margin-bottom: 3rem;
}

.start-quiz-btn {
  background: var(--vivid-color);
  color: var(--text-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 50px;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Quiz questions container */
.quiz-questions-container {
  display: none;
}

/* Progress bar */
.quiz-progress {
  margin-bottom: 1.5rem;
  height: 8px;
  background-color: #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.quiz-progress-bar {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  height: 100%;
  width: 20%;
}

/* Question styles */
.gender-question,
.age-question,
.weight-question,
.pregnancy-question,
.exercise-question,
.alcohol-question,
.smoking-question {
  margin-bottom: 3rem;
}

.age-question,
.weight-question,
.pregnancy-question,
.exercise-question,
.alcohol-question,
.smoking-question {
  display: none;
}

.question-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-black-color);
  margin-bottom: 1.5rem;
}

/* Form elements */
.gender-option,
.pregnancy-option,
.exercise-option,
.alcohol-option,
.smoking-option {
  margin-bottom: 0.5rem;
}

.gender-input,
.pregnancy-input,
.exercise-input,
.alcohol-input,
.smoking-input {
  margin-right: 0.5rem;
}

.gender-label,
.pregnancy-label,
.exercise-label,
.alcohol-label,
.smoking-label {
  color: var(--text-black-color);
}

.age-input,
.weight-input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.weight-input {
  padding-right: 2rem;
}

.weight-input-group {
  display: flex;
  gap: 1rem;
}

.weight-unit {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

/* Navigation buttons */
.quiz-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.prev-btn {
  background-color: #fff;
  color: var(--text-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
}

.next-btn {
  background: var(--vivid-color);
  color: var(--text-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
}

/* Results container */
.results-container {
  display: none;
  text-align: center;
}

.results-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-black-color);
  margin-bottom: 1.5rem;
}

.water-amount {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-black-color);
  margin-bottom: 2.5rem;
  background-color: var(--vivid-color);
  border: 1px solid var(--text-black-color);
  padding: 1.25rem 0;
}

.results-description {
  font-size: 1.25rem;
  color: #6c757d;
  margin-bottom: 3rem;
}

.results-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.notification-btn {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--bg-color);
  font-weight: 600;
  border: none;
  border-radius: 50px;
  padding: 0.75rem 3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.notification-btn:hover {
  background: var(--text-black-color);
  color: var(--bg-color);
}

.notification-btn i,
.home-btn i,
.prev-btn i {
  padding-right: 1.2rem;
}

.next-btn i {
  padding-left: 1.2rem;
}

.home-btn {
  background-color: transparent;
  color: var(--text-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 50px;
  padding: 0.75rem 3rem;
  cursor: pointer;
  transition: all 0.45s ease-out;
}

.home-btn:hover {
  border-radius: 0px;
}

/* Image section */
.image-section {
  display: none;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
}

.quiz-footer {
  padding: 1.5rem;
  text-align: center;
  background-color: rgba(248, 249, 250, 0.5);
  color: #212529;
}

.mobile-footer {
  display: none;
  padding: 1.5rem;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 600;
}

.mobile-footer p {
  max-width: 80%;
}

.mobile-footer .author-link {
  text-decoration: none;
}

.author-link:hover {
  color: #ec4899;
  transition: color 0.3s ease;
}

/* Animation styles for start screen */
#start-screen h1,
#start-screen p,
#start-screen button {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

#start-screen h1.show,
#start-screen p.show,
#start-screen button.show {
  opacity: 1;
  transform: translateY(0);
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
  .quiz-container {
    flex-direction: row;
  }

  .quiz-section {
    width: 50%;
  }

  .image-section {
    display: block;
  }
}

@media (max-width: 767px) {
  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .quiz-title {
    font-size: 2rem;
  }

  .results-title {
    font-size: 2.5rem;
  }

  .water-amount {
    font-size: 3rem;
  }

  .quiz-section {
    padding: 1.5rem;
    height: 100vh;
  }

  .notification-btn,
  .home-btn {
    width: 100%;
  }
}
