@import url("../homepage/styles.css");

body {
  font-family: "Poppins", sans-serif;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--text-black-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./Images/background.jpg");
  /* background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
  background-size: cover;
  background-position: center;
  position: relative;
}
.background {
  transform: scale(1);
}
/* Auth Section Styles */
/* .auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    0deg,
    var(--secondary-color) 10%,
    var(--bg-color) 90%
  );
  background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
} */

.cta-btn {
  background: #ffcb77;
  color: var(--text-black-color);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-self: center;
  flex-direction: column;
  border: 1px solid var(--text-black-color);
  cursor: pointer;
  margin-bottom: 0.9rem;
  transition: all 0.4s ease-in-out;
}

.cta-btn:hover {
  background-color: var(--text-black-color);
  color: var(--bg-color);

  transform: translateY(-9px);
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  /* z-index: 1; */
  padding: 3rem;

  max-width: 500px;
}

/* .auth-left {
  flex: 1;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  width: 100%;
  background: no-repeat center center/cover;
} */

.logo-large {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image-large {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 60px;
  margin-bottom: 20px;
}

.logo-text-large {
  text-align: center;
}

.logo-text-large h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
}

.auth-form-container {
  width: 100%;
  color: var(--text-black-color);
}

.auth-container h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.auth-container h2 span {
  padding: 0.3rem 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--text-black-color);
  display: block;
}

.auth-form .form-group {
  margin-bottom: 20px;
  color: var(--text-black-color);
}

.auth-form input {
  width: 100%;
  padding: 12px 15px;
  background-color: transparent;
  border: 1px solid var(--text-black-color);
  border-radius: 5px;
  font-size: 16px;
}

.auth-form input::placeholder {
  color: var(--text-black-color);
  opacity: 0.6;
}

.verification-group {
  display: flex;
  margin: 0 auto;
}

.verification-group input {
  flex: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.send-btn {
  padding: 0 15px;
  background: var(--secondary-color);
  color: var(--text-black-color);
  border: 1px solid var(--text-black-color);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.send-btn:hover {
  opacity: 0.6;
}

.auth-divider {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.auth-divider span {
  padding: 0 15px;
  color: var(--text-black-color);
  font-size: 14px;
}

.social-auth {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-auth button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--text-black-color);
  background-color: transparent;
  color: var(--text-black-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-auth button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.google-auth img {
  width: 20px;
  height: 20px;
}

.auth-links {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--text-black-color);
  z-index: 3;
}

.auth-links a {
  color: var(--text-black-color);
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.auth-links a:hover {
  color: rgba(50, 5, 5, 0.5);
}

.auth-footer {
  background-color: transparent;
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

.copyright :nth-of-type(1) a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.copyright :nth-of-type(1) a:hover {
  color: rgba(66, 86, 99, 0.5);
}

.copyright p:nth-of-type(2) {
  margin-top: 10px;
  font-size: 12px;
}

.copyright p:nth-of-type(2) a {
  color: var(--text-black-color);
  margin-bottom: 0.8rem;
}

.send-btn {
  background-color: var(--vivid-color);
}
